#conversion {
    width: 100%;
}

#conversion-progress {
    width: 100%;
    background-color: white;
}

#conversion-progress-bar {
    height: 30px;
    background-color: green;
}

#convert {
    display: flex;
    flex-direction: row;
}

#convert-currencies {
    flex-grow: 1;
}

#convert-amount {
    flex-grow: 3;
}

#convert-amount-row {
    display: flex;
    flex-direction: row;
}

#convert-amount-slider {
    flex-grow: 1;
}