#character-selection {
    display: flex;
    flex-direction: row;
}

#characters {
    display: flex;
    flex-direction: column;
}

.character-button {
    font-size: 45px;
}

#character-name {
    font-size: 35px;
}

#character-rarity {
    font-size: 21px;
}

#character-misc {
    font-size: 28px;
}

#character-skills {
    display: flex;
    flex-direction: row;
}

.skill {
    height: 100px;
    width: 100px;
    margin: 5px;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    border-color: rgb(50, 50, 50);
    text-align: center;
    align-content: center;
}

#character-description {
    font-size: 28px;
}

#button-panel {
    display: flex;
    flex-direction: row;
}

#selection-panel {
    display: flex;
    flex-direction: row;
}

.selection-panel-col {
    display: flex;
    flex-direction: column;
}

#selected-panel {
    display: flex;
    flex-direction: row;
}

.selected-col {
    display: flex;
    flex-direction: column;
}

.selected-item {
    height: 100px;
    width: 100px;
    margin: 5px;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    border-color: rgb(50, 50, 50);
    text-align: center;
    align-content: center;
}

.selected-item-empty {
    border-style: dashed;
}