html {
    font-family: sans-serif;
    background-color: #e6e6e6;
    color: #323232;
    font-size: x-large;
}

button {
    width: 250px;
    height: 70px;
    margin: 2.5px;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    background-color: #aaaaaa;
}

button:hover {
    filter: brightness(90%);
    opacity: 90%;
}

button:active {
    filter: brightness(80%);
    opacity: 90%;
}

/* button:hover {
    background-color: #878787;
}

button:active {
    background-color: #878787;
} */

input {
    display: block;
}

input[type=text], input[type=password] {
    min-width: 350px;
    font-size: x-large;
    border: 2px solid #aaaaaa;
    border-radius: 5px;
    margin: 3px;
    padding-left: 20px;
    padding-top: 5px;
    padding-right: 2px;
    padding-bottom: 5px;
}

#nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#main {
    margin: auto;
    width: 60%;
    min-width: 20em;
}

#balance {
    display: flex;
    flex-direction: row;
}

.balance-item {
    margin: 0.1em;
}